.navbar {
  background-color:#caf0f8;
  justify-content: end;
  top: 0;
}

.navbar:hover{
  background-color:#edf6f9;
}
.btn {
  margin:3px;
  height:40px;
  width:100px;
  background-color:#E6EEF2 ;
  border: unset;
  outline:none;
}

.btn:hover{
  background-color:#90e0ef;
}

.btn:focus{
  border: none;
  outline:none;
}


