.jobs-container{
  width:100%;
  background: #edf6f9;
  font-family: "Times New Roman", Times, serif;
  display: flex;
}
.filters-row{
  width:21rem;
  background: white;
  border-top-right-radius:10px;
  border-bottom-right-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
:host ::ng-deep .p-listbox  {
  margin-right: 2rem;
}
:host ::ng-deep .p-listbox .p-listbox-header .p-listbox-filter {
  background:#E6EEF2;
  color:black;
}
:host ::ng-deep .p-listbox .p-listbox-header {
  background:white;
  color:black;
}

:host ::ng-deep .p-listbox .p-listbox-list {
  background:white;
}
.country-item{
  color:black;
}
:host ::ng-deep .p-listbox .p-listbox-list .p-listbox-item {
  border-bottom: 2px solid black;
}
:host ::ng-deep .p-listbox .p-listbox-header .p-listbox-filter-icon {
  color:black;
}
:host ::ng-deep .p-checkbox .p-checkbox-box {
  background: #caf0f8;
}

.jobs-row{
  display: flex;
  padding-top: 44px;
  flex-direction: row;
}
