.homepage-container{
  width: 100%;
  height: 100%;
  background: #edf6f9;
  font-family: "Times New Roman", Times, serif;
}

.welcome-row{
  width: 100%;
  height:60px;
  background-color: #d6e2e9;
  text-align:left;
  float:left;
  margin-bottom: 10px;
}

.welcome-text{
  color:white;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.welcome-second{
  display: flex;
  width: 100%;
  background-color:#edf2f4;
  border-radius: 15px;
}

.welcome-paragraph{
  width:62vw;
  background-color: white;
  margin-left: 5px;
  border-radius: 15px ;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.guide{
  width:18vw;
  background-color: white;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right:5px;
  border-radius: 15px;
  text-align: center;
}

.nd{
  width:37vw;
  background-color: white;
  margin-right:5px!important;
  border-radius: 15px ;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image{
  width: 26%;
  padding-top: 5px;
}

.mediq-row{
  margin-top: 15px;
  color: #457b9d;

}

.in-card{
  margin-top:50px;
  justify-content: center;
  align-items: center;
  width:100%;
  display: flex;
}

:host ::ng-deep .mat-card{
  width: 40rem;
  text-align: center;
  border-radius: 10px;
}


:host ::ng-deep .mat-card:hover{
  background: #caf0f8;
}

.searchbtn{
  border-radius: 10px;
  width:200px;
  background: #caf0f8;
}
