
<div class="homepage-container">
  <app-header></app-header>
  <div class="welcome-second">
    <div class="welcome-paragraph">
      <div class="mediq-row">
        <p>Bun venit in jobGuide!</p>
      </div>
      <div class="paragraph">
        <p>Aveți aici instrumentul care pune în valoare punctele forte ale fiecăruia!
          Colaborarea există, documentele primesc valoare, se câstigă timp, cu implicare minimă
          și costuri reduse.Astfel, vă mulțumim pentru că ați decis sa colaborați cu noi!
        </p>
      </div>
    </div>

    <div class="nd">
      <img src="../assets/backgr.jpg"
           class="image">
      <p class="panmcs">Unitate aflata în PROCES DE ACREDITARE ANMCS</p>
    </div>
  </div>

</div>
