
<div class="homepage-container">
  <app-header></app-header>
  <div class="welcome-second">
    <div class="welcome-paragraph">
      <div class="mediq-row">
        <h3><b>Bun venit in jobGuide!</b></h3>
      </div>
      <div class="paragraph">
        <p><b>Aveți aici instrumentul care pune în valoare punctele forte ale fiecăruia!
          Colaborarea există, documentele primesc valoare, se câstigă timp, cu implicare minimă
          și costuri reduse.Astfel, vă mulțumim pentru că ați decis sa colaborați cu noi!</b>
        </p>
      </div>
    </div>

    <div class="nd">
      <img src="../assets/backgr.jpg"
           class="image">
    </div>
  </div>

  <div class="in-card">
    <mat-card>
      <mat-card-title style="color: #457b9d;">Curajul este in tine!</mat-card-title>
      <mat-card-subtitle>Caută-ți jobul mult visat și aplică. De restul ne ocupăm noi!</mat-card-subtitle>

      <mat-card-content>
        <img mat-card-image src="../assets/employees.jpeg">
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions>
          <button mat-button class="searchbtn" (click)="onSeeJobs()"><mat-icon>search</mat-icon> Vezi joburi</button>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </div>

</div>
