:host ::ng-deep .mat-card{
  width: 50rem;
  background: #E6EEF2;
  margin-left:140px;
  margin-top: 20px
}

:host ::ng-deep .mat-card-title {
  text-align: center;
}

:host ::ng-deep .mat-card-subtitle {
  text-align: center;
}
:host ::ng-deep .mat-card-actions {
  text-align: center;
}

.details-button{
  background: #90e0ef;
}

.details-button:hover{
  background: #caf0f8;
}
